/* CSS Styled by @_xxevnxxe_ */
/* FONT IMPORT */
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700;800;900&display=swap");

:root {
  --black: rgba(20, 20, 20);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope";
  outline-color: transparent;
  hyphens: auto;
  -webkit-tap-highlight-color: transparent;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins";
  font-weight: 800;
  line-height: 120%;
}
body {
  background-image: linear-gradient(160deg, rgb(20, 20, 20), rgb(19, 37, 50));
  /* background-image: url("https://images.unsplash.com/photo-1675151638366-86951820ebf4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"); */
  color: rgba(255, 255, 255);
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.disable-scroll {
  overflow-y: hidden;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-track {
  background-color: rgba(30, 30, 30);
}
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.35),
    rgba(255, 255, 255, 0.15)
  );
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.55),
    rgba(255, 255, 255, 0.175)
  );
}

/* DEVELOPMENT */
.max-width {
  max-width: 1280px;
  width: 100%;
}
.full-width {
  width: 100%;
}

/* ============ */
/* FLEX CLASSES */
/* ============ */
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-full-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-image img {
  width: 125px;
  height: auto;
  aspect-ratio: 5/4;
  object-fit: contain;
  mix-blend-mode: hue;
}
@media (max-width: 750px) {
  .flex-image img {
    width: 70px;
  }
}
.align-start {
  align-items: flex-start;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: flex-end;
}
.justify-start {
  justify-content: flex-start;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}
.justify-between {
  justify-content: space-between;
}

/* ============== */
/* MARGIN CLASSES */
/* ============== */
.margin-5 {
  margin: 5px;
}
.margin-10 {
  margin: 10px;
}
.margin-15 {
  margin: 15px;
}
.margin-20 {
  margin: 25px;
}
.margin-left-5 {
  margin-left: 5px;
}
.margin-left-10 {
  margin-left: 10px;
}
.margin-left-15 {
  margin-left: 15px;
}
.margin-left-20 {
  margin-left: 25px;
}
.margin-right-5 {
  margin-right: 5px;
}
.margin-right-10 {
  margin-right: 10px;
}
.margin-right-15 {
  margin-right: 15px;
}
.margin-right-20 {
  margin-right: 25px;
}
.margin-top-5 {
  margin-top: 5px;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-top-15 {
  margin-top: 15px;
}
.margin-top-20 {
  margin-top: 25px;
}
.margin-bottom-5 {
  margin-bottom: 5px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.margin-bottom-15 {
  margin-bottom: 15px;
}
.margin-bottom-20 {
  margin-bottom: 25px;
}
.margin-v-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.margin-v-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.margin-v-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}
.margin-v-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.margin-h-5 {
  margin-left: 5px;
  margin-right: 5px;
}
.margin-h-10 {
  margin-left: 10px;
  margin-right: 10px;
}
.margin-h-15 {
  margin-left: 15px;
  margin-right: 15px;
}
.margin-h-20 {
  margin-left: 20px;
  margin-right: 20px;
}

/* ================== */
/* Website Components */
/* ================== */

/* NAVBAR */
nav.navbar {
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 25px;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  transition: background-color 250ms, backdrop-filter 250ms, padding-top 250ms,
    padding-bottom 250ms, border-bottom 250ms;
}
nav.navbar .navbar-logo {
  margin-left: -35px;
  cursor: pointer;
  transition: margin-left 250ms;
}
nav.navbar.navbar-alt .navbar-logo {
  margin-left: 15px;
}
nav.navbar.navbar-alt {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  padding: 25px;
  background-color: rgba(30, 30, 30, 0.25);
}
nav.navbar .navbar-back {
  transform: translateX(-100%);
  height: 35px;
  width: 35px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 50%;
  display: flex;
  align-items: center;
  opacity: 0;
  justify-content: center;
  pointer-events: none;
  transition: transform 250ms, opacity 250ms, background-color 250ms;
}
nav.navbar .navbar-back svg {
  color: rgba(255, 255, 255, 0.5);
}
nav.navbar.navbar-alt .navbar-back {
  pointer-events: visible;
  transform: translateX(0);
  opacity: 1;
  cursor: pointer;
}
nav.navbar.navbar-alt .navbar-back:hover {
  background-color: rgba(255, 255, 255, 0.075);
}
nav.navbar.blur {
  padding-top: 25px;
  padding-bottom: 25px;
}
nav.navbar::before {
  transition: backdrop-filter 250ms, box-shadow 250ms, background-color 250ms;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  inset: 0;
}
nav.navbar.blur::before {
  background-color: rgba(30, 30, 30, 0.87);
  backdrop-filter: blur(17px);
  -webkit-backdrop-filter: blur(17px);
  box-shadow: 0 0 15px 1px rgba(30, 30, 30, 0.75);
}
nav.navbar ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  gap: 45px;
}
nav.navbar ul.navbar-wrapper {
  display: flex;
  flex-direction: row;
  max-width: 1280px;
  width: 100%;
  justify-content: space-between;
}
nav.navbar .navbar-link {
  display: block;
  color: rgba(255, 255, 255, 0.75);
  font-weight: 700;
  font-size: 0.76rem;
  transition: color 250ms;
  cursor: pointer;
  position: relative;
}
nav.navbar .navbar-link:hover {
  color: rgba(255, 255, 255, 1);
}
nav.navbar .navbar-link.active {
  color: rgba(255, 255, 255);
}
@media (min-width: 950px) {
  nav.navbar .navbar-link .navbar-dropdown {
    cursor: default;
    display: none;
    position: absolute;
    background-color: rgba(75, 75, 75, 0.5);
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    border-radius: 7px;
    align-items: flex-start;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    min-width: 300px;
    left: 50%;
    transform: translateX(-50%);
    top: calc(100% + 15px);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1) inset;
    filter: drop-shadow(0 0 15px rgba(40, 40, 40, 0.75));
  }
  nav.navbar .navbar-link .navbar-dropdown::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    left: 50%;
    top: -7.5px;
    z-index: -1;
    background-image: linear-gradient(
      135deg,
      rgba(75, 75, 75, 0.45) 50%,
      rgba(75, 75, 75, 0) 50%
    );
    transform: rotateZ(45deg);
  }
  nav.navbar .navbar-link .navbar-dropdown::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 25px;
    left: 0;
    top: -25px;
    background-color: transparent;
  }
  nav.navbar .navbar-link:hover .navbar-dropdown {
    display: flex;
    animation-name: navbar-dropdown;
    animation-duration: 350ms;
  }
  @keyframes navbar-dropdown {
    0% {
      opacity: 0;
      transform: translateX(-50%) translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateX(-50%) translateY(0);
    }
  }
  nav.navbar .navbar-link .navbar-dropdown li {
    width: 100%;
  }
  nav.navbar .navbar-link .navbar-dropdown .dropdown-div {
    padding: 10px 15px;
    border-radius: 7px;
    width: 100%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 7px;
    transition: background-color 150ms;
  }
  nav.navbar .navbar-link .navbar-dropdown .dropdown-div:hover {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 2px 15px 0 rgba(30, 30, 30, 0.5);
  }
}
@media (max-width: 950px) {
  nav.navbar .navbar-link {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  nav.navbar .navbar-link .navbar-dropdown {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  nav.navbar .navbar-link .navbar-dropdown .dropdown-div {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.125);
    padding: 10px 15px;
    border-radius: 7px;
    /* margin-left: 15px; */
  }
}
nav.navbar .navbar-button {
  background-color: rgba(255, 255, 255, 0.25);
  color: rgba(255, 255, 255);
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 0.76rem;
  font-weight: 800;
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  backdrop-filter: blur(10px);
  transition: background-color 250ms, color 250ms, box-shadow 250ms;
}
nav.navbar .navbar-button:hover {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  box-shadow: 0 0 0 2px rgba(255, 255, 255) inset;
}

@media (min-width: 950px) {
  nav.navbar .navbar-drawer-hidden {
    display: none;
  }
  nav.navbar .navbar-show-toggle {
    display: none;
  }
  nav.navbar .navbar-link-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 45px;
  }
}
@media (max-width: 950px) {
  nav.navbar {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  nav.navbar .navbar-show-toggle {
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 250ms;
    border-radius: 7px;
  }
  nav.navbar .navbar-show-toggle:hover {
    background-color: rgba(255, 255, 255, 0.075);
  }
  nav.navbar .navbar-drawer {
    transform: translateX(-125%);
    transition: transform 450ms;
  }
  nav.navbar.open-drawer .navbar-drawer {
    transform: translateX(0);
  }
  nav.navbar .navbar-toggle {
    background-color: rgba(255, 255, 255, 0.075);
    height: 35px;
    width: 35px !important;
    position: absolute;
    top: 25px;
    right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.25);
    transition: background-color 250ms, color 250ms;
  }
  nav.navbar .navbar-toggle:hover {
    color: rgba(255, 255, 255, 0.55);
    background-color: rgba(255, 255, 255, 0.125);
  }
  nav.navbar .navbar-drawer {
    position: fixed;
    height: 100vh;
    /* height: calc(var(--vh) * 100); */
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--black);
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
    padding: 15px;
  }
  nav.navbar .navbar-drawer::before {
    content: "";
    position: absolute;
    height: 150px;
    width: 100%;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    background-color: var(--black);
  }
  /* nav.navbar .navbar-drawer::before {
    content: "";
    position: absolute;
    width: 100vh;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: var(--black);
    z-index: -1;
    border-radius: 50%;
    transition: border-radius 700ms, left 1250ms, opacity 2550ms;
    pointer-events: none;
    opacity: 0;
  } */
  nav.navbar.open-drawer .navbar-drawer::before {
    border-radius: 0%;
    left: 0%;
    opacity: 1;
    transition: border-radius 700ms, left 1250ms, opacity 150ms;
  }
  nav.navbar .navbar-drawer li {
    width: 100%;
  }
  nav.navbar .navbar-drawer .navbar-link {
    width: 100%;
    padding: 10px 15px;
    border-radius: 7px;
    font-size: 0.96rem;
  }
  nav.navbar .navbar-drawer .navbar-link.active {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0.075);
    transition: background-color 250ms, color 250ms;
  }
  nav.navbar .navbar-drawer .navbar-link.active:hover {
    background-color: rgba(255, 255, 255, 0.035);
  }
  nav.navbar .navbar-copyright {
    font-size: 0.66rem;
    color: rgba(255, 255, 255, 0.25);
    text-align: center;
    margin-top: 100px;
  }
  nav.navbar .navbar-drawer .navbar-button {
    justify-content: center;
    margin-top: 25px;
  }
  nav.navbar .navbar-link-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
    transition: opacity 350ms;
  }
  nav.navbar.open-drawer .navbar-link-list {
    opacity: 1;
  }
  nav.navbar.open-drawer .navbar-link-list li {
    animation-name: fade-in-right;
    animation-duration: 750ms;
    animation-fill-mode: forwards;
    animation-delay: 150ms;
    opacity: 0;
  }
}

@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateX(-70px);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* HEADER */
.header {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 25px;
}
.custom-background {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  background-image: linear-gradient(0deg, rgba(3, 20, 36), rgba(10, 10, 10));
  isolation: isolate;
}
.custom-background::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) translateY(60%);
  width: 75%;
  height: 100%;
  border-radius: 50%;
  background-image: url("../assets/images/world.svg");
  background-repeat: no-repeat;
  background-size: 1800px 100%;
  opacity: 0.2;
  animation: earth-background 30s infinite linear;
}
.custom-card {
  padding: 20px 25px;
  background-image: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: space-between;
  min-height: 400px;
  transition: border 250ms, box-shadow 250ms;
}
.custom-card:hover {
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 15px 1px rgba(255, 255, 255, 0.1);
}
.custom-large-text {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.5rem;
}
.custom-large-text bold {
  color: rgba(255, 255, 255);
}
.custom-link {
  display: flex;
  align-items: center;
  color: white;
  gap: 0px;
  transition: gap 100ms linear;
}
.custom-link:hover {
  gap: 10px;
}
@keyframes earth-background {
  0% {
    background-position: -1400px 0%;
  }
  100% {
    background-position: 1400px 0%;
  }
}
.custom-background::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) translateY(60%);
  width: 75%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(
    180deg,
    rgba(195, 212, 255, 0.18) 0%,
    rgba(77, 121, 234, 0.15) 5.49%,
    rgba(5, 43, 75, 0) 23.54%
  );
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-top: 2px solid rgba(255, 255, 255, 0.35);
  box-shadow: 0 0 45px 1px rgba(103, 148, 237, 0.5);
  z-index: 0;
}
/* @media (max-width: 1280px) {
  .custom-background::before {
    width: 100%;
  }
} */
@media (max-width: 1280px) {
  .custom-background::before,
  .custom-background::after {
    width: 1500px;
  }
}
.header .header-content.header-content-alt {
  flex-direction: row;
  align-items: flex-end;
  padding-bottom: 35px;
  gap: 75px;
}
.header .header-content.header-content-alt .list-pill {
  max-width: 350px;
}
@media (max-width: 1050px) {
  .header {
    height: 100vh;
    min-height: 100vh;
    padding-top: 75px;
  }
  .header-content {
    gap: 75px;
  }
  .header .header-content.header-content-alt {
    gap: 35px;
  }
  .header .header-content.header-content-alt .list-pill {
    max-width: unset;
  }
}
.header.header-alt {
  /* height: calc(var(--vh) * 100); */
  height: 100vh;
  min-height: 100vh;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    0deg,
    rgba(20, 20, 20),
    rgba(20, 20, 20, 0.5)
  );
  z-index: 1;
}
.header.custom-header::before {
  background-image: linear-gradient(
    0deg,
    rgba(3, 20, 36),
    rgba(10, 10, 10, 0) 75%
  );
}
.header.custom-header h1 {
  font-size: 4rem;
  max-width: 650px;
}
@media (max-width: 1050px) {
  .header.custom-header h1 {
    font-size: 2.5rem;
    max-width: 450px;
  }
}
.header .header-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 10;
  height: 100%;
}
.header.header-alt .header-content {
  justify-content: space-between;
}
.header-grid {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  gap: 35px;
}
@media (max-width: 850px) {
  .header .header-content.header-content-alt {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
  }
}
.header-grid-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 150px;
}
.header-grid-card:first-child {
  border-right: 1px solid rgba(255, 255, 255, 0.25);
}
@media (max-width: 1050px) {
  .header-grid {
    grid-template-columns: auto;
    max-width: 350px;
  }
  .header-grid-card:first-child {
    border-right: none;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  }
}
.business-header {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 25px;
  /* height: calc(var(--vh) * 100); */
  height: 100vh;
  background-size: cover;
  background-position: center right;
}
.business-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    0deg,
    rgba(30, 30, 30, 0.9),
    rgba(30, 30, 30, 0.25)
  );
  z-index: 0;
}
.business-header .business-content {
  max-width: 1280px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: 35px;
  z-index: 5;
  padding-bottom: 50px;
}
@media (max-width: 1000px) {
  .business-header .business-content {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
  }
}

/* ICON */
.icon-normal {
  color: rgba(255, 255, 255, 0.5);
}

/* TEXT */
.text-normal {
  font-size: 0.94rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.5);
}
.white-text {
  color: rgba(255, 255, 255);
  font-size: 0.96rem;
}
span.span-text {
  display: flex;
  font-weight: 700;
}
span.span-pill {
  display: flex;
  font-size: 0.86rem;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 5px 20px;
  border-radius: 25px;
  color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
}
span.span-pill.span-pill-fit {
  display: flex;
  align-items: center;
  gap: 10px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-weight: normal;
  backdrop-filter: blur(10px);
}
span.text-large {
  display: flex;
  font-size: 1.7rem;
  font-weight: 800;
  line-height: 120%;
}
span.text-medium {
  display: flex;
  font-size: 1.3rem;
  font-weight: 800;
}
span.text-small {
  display: flex;
  font-size: 1rem;
  font-weight: 800;
}
span.text-stroked {
  font-size: 0.76rem;
  text-decoration: line-through;
}
span.gradient-pill {
  display: flex;
  align-items: center;
  line-height: 120%;
  padding: 15px 25px;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  border-radius: 25px;
  font-weight: 800;
  font-size: 1rem;
  letter-spacing: 1.2px;
}
span.border-pill {
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.25); */
  padding: 10px 15px;
  border-radius: 7px;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.075),
    rgba(255, 255, 255, 0)
  );
  font-weight: 500;
  color: rgba(255, 255, 255, 0.75);
  width: max-content;
}
.list-pill {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 5px 15px 5px 5px;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  border-radius: 15px;
  gap: 10px;
}
.list-pill.list-pill-alt {
  flex-direction: row-reverse;
  padding: 5px 5px 5px 15px;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.1)
  );
  text-align: right;
}
.list-pill svg {
  flex-shrink: 0;
}
.list-pill span {
  font-size: 0.76rem;
  letter-spacing: 0.5px;
}
.list-pill.list-pill-secondary {
  padding: 5px 15px;
}
.list-pill.list-pill-secondary span {
  color: rgba(255, 255, 255, 0.5);
}
@media (max-width: 850px) {
  .list-pill.list-pill-alt {
    flex-direction: row;
    padding: 5px 15px 5px 5px;
    background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0)
    );
    text-align: left;
  }
}

/* BUTTON */
.button {
  border: none;
  display: flex;
  background-color: rgba(255, 255, 255);
  border-radius: 25px;
  font-size: 0.76rem;
  color: rgba(20, 20, 20);
  font-weight: 700;
  padding: 10px 30px;
  cursor: pointer;
  transition: color 250ms, background-color 250ms, box-shadow 250ms;
}
.button:hover {
  /* color: white; */
  background-color: rgba(255, 255, 255, 0.55);
  /* box-shadow: 0 0 0 1px rgba(255, 255, 255) inset; */
}
.button.button-outline {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  box-shadow: 0 0 0 1px rgba(255, 255, 255) inset;
}
.button.button-outline:hover {
  background-color: rgba(255, 255, 255, 0.05);
  color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5) inset;
}
.button.button-center {
  justify-content: center;
}

/* GRID */
.grid {
  display: grid;
}
.column-20-80 {
  grid-template-columns: 20% 80%;
}
.column-30-70 {
  grid-template-columns: 30% 70%;
}
.column-40-60 {
  grid-template-columns: 40% 60%;
}
.column-50-50 {
  grid-template-columns: 50% 50%;
}
.column-60-40 {
  grid-template-columns: 60% 40%;
}
.column-70-30 {
  grid-template-columns: 5fr 2fr;
}
.column-80-20 {
  grid-template-columns: 80% 20%;
}
.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.grid-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 350px;
  padding: 20px 35px;
  border-left: 1px solid rgba(255, 255, 255, 0.25);
}
.grid-content.grid-content-alt {
  justify-content: space-between;
  min-height: 300px;
  align-items: flex-start;
}
.grid-content:first-child {
  border-left: none;
}
.grid-content.grid-content-title {
  justify-content: flex-start;
}
.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.grid-3.grid-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid-3.grid-center .grid-border {
  max-width: 750px;
  width: 100%;
}
.grid-3.grid-3-alt {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.grid-3.grid-3-alt .grid-content {
  border-left: none;
}
.grid-3.grid-3-alt .grid-content:nth-child(even) {
  border-left: 1px solid rgba(255, 255, 255, 0.25);
  border-right: 1px solid rgba(255, 255, 255, 0.25);
}
@media (max-width: 1335px) {
  .grid-3.grid-3-alt .grid-content:nth-child(even) {
    border-right: none;
  }
}
@media (max-width: 700px) {
  .grid-3.grid-3-alt .grid-content:nth-child(even) {
    border-left: none;
  }
}
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 1100px) {
  .grid-4 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1000px) {
  .grid-3 {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px;
  }
  .grid-content.grid-content-alt:nth-child(odd) {
    border-left: none;
  }
  .grid-2 {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 700px) {
  .grid-4 {
    grid-template-columns: 1fr;
  }
  .grid-content {
    min-height: 225px;
  }
  .grid-content.grid-content-title {
    min-height: 125px;
    padding: 0;
  }
  .grid-3 {
    grid-template-columns: 1fr;
  }
  .grid-3 .grid-content {
    border-left: none;
    padding-left: 0;
    padding-right: 0;
  }
}
.grid-border {
  padding-right: 25px;
  padding-top: 25px;
  border-right: 1px solid rgba(255, 255, 255, 0.15);
}
.grid-border:last-child {
  border-right: none;
}
@media (max-width: 1000px) {
  .grid-border:nth-child(even) {
    border-right: none;
  }
}
@media (max-width: 700px) {
  .grid-border {
    border-right: none;
    padding-right: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    padding-bottom: 25px;
  }
}

/* Text Align */
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}

@media (max-width: 1000px) {
  .column-70-30 {
    grid-template-columns: 5fr 3fr;
  }
}

@media (max-width: 750px) {
  .column-70-30 {
    grid-template-columns: 1fr;
  }
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.card-container .card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  padding-bottom: 15px;
  gap: 75px;
}
.card-container .card-header p {
  max-width: 750px;
  text-align: right;
}
.card-container .card-header.card-header-alt {
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.card-container .card-header.card-header-alt p {
  text-align: center;
}
.card-container .card-header.card-header-alt h2 {
  text-align: center;
}
.card-container .card-header.card-header-alt .react-tabs__tab-list {
  display: none;
}
.card-container .card-header .card-title {
  font-weight: 700;
  flex-shrink: 0;
}
@media (max-width: 700px) {
  .card-container .card-header {
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
  }
  .card-container .card-header p {
    text-align: left;
    max-width: 550px;
  }
}

.awards-box {
  padding: 25px 15px;
  border-radius: 7px;
  background-color: rgba(255, 255, 255);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 55px;
  filter: grayscale(50%);
}
.awards-box img {
  max-width: 75px;
  /* max-height: 75px; */
}

.dropdown {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  -webkit-user-drag: none;
  user-select: none;
}
.dropdown svg {
  flex-shrink: 0;
  color: rgba(255, 255, 255, 0.5);
  transition: transform 250ms, color 250ms;
}
.dropdown.open svg {
  transform: rotateZ(180deg);
  color: white;
}
.dropdown.open .dropdown-title {
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.25) inset;
}
.dropdown.open .dropdown-title span.text-normal {
  color: rgba(255, 255, 255);
}
.dropdown .dropdown-title span.text-normal {
  font-weight: 400 !important;
  transition: color 250ms;
}
.dropdown .dropdown-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  background-color: rgba(255, 255, 255, 0.075);
  padding: 10px 15px;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 250ms, box-shadow 250ms;
}
.dropdown.large .dropdown-title {
  padding: 15px 25px;
}
.dropdown.large .dropdown-title span {
  font-size: 1rem;
}
.dropdown .dropdown-content {
  padding: 0 15px;
  display: none;
  margin-bottom: 25px;
}
.dropdown.open .dropdown-content {
  display: block;
}
.dropdown .dropdown-title:hover {
  background-color: rgba(255, 255, 255, 0.125);
}
.dropdown p {
  line-height: 135%;
  font-size: 0.76rem;
  color: rgba(255, 255, 255, 0.75);
}
.dropdown.large .dropdown-content {
  padding: 0 25px;
}
.dropdown.large p {
  font-size: 0.86rem;
}

.footer {
  background-image: linear-gradient(45deg, rgb(20, 20, 20), rgb(20, 20, 20));
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer .footer-content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.footer .footer-content .footer-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 35px;
}
.footer .footer-content .footer-link .footer-grid {
  display: grid;
  grid-template-columns: repeat(3, 250px);
}
.footer .footer-content .footer-link .footer-grid ul {
  list-style-type: none;
  gap: 5px;
  display: flex;
  flex-direction: column;
}
.footer .footer-content .footer-link .footer-grid ul span {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.86rem;
  margin-bottom: 15px;
  display: block;
}
.footer .footer-content .footer-link .footer-grid ul li a {
  color: rgba(255, 255, 255);
  transition: color 250ms;
  font-size: 0.86rem;
}
.footer .footer-content .footer-link .footer-grid ul li a:hover {
  color: rgba(255, 255, 255, 0.5);
}
.footer .footer-content .footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
@media (max-width: 1150px) {
  .footer .footer-content .footer-link .footer-grid {
    grid-template-columns: repeat(2, 250px);
    row-gap: 50px;
  }
}
@media (max-width: 850px) {
  .footer .footer-content .footer-link {
    flex-direction: column;
    gap: 75px;
  }
  .footer .footer-content .footer-link .footer-grid {
    grid-template-columns: auto;
    row-gap: 50px;
  }
}
@media (max-width: 600px) {
  .footer .footer-content .footer-bottom {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 35px;
  }
}
@media (max-width: 450px) {
  .footer .footer-content .footer-bottom {
    /* flex-direction: column-reverse; */
  }
}

.link {
  font-size: 0.86rem;
  color: rgba(255, 255, 255, 0.5);
  transition: color 250ms;
}
.link:hover {
  color: rgba(255, 255, 255);
}

.product-card {
  position: relative;
  background-image: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  padding: 25px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  transition: transform 250ms;
  overflow: hidden;
  justify-content: space-between;
}
.product-card:hover {
  transform: scale(1.01);
}
.product-card::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
  background-image: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.05)
  );
  opacity: 0;
  transition: opacity 250ms;
}
.product-card:hover::after {
  opacity: 1;
}
.product-card::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 150px;
  top: -200%;
  left: -50%;
  z-index: -1;
  background-image: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.075),
    rgba(255, 255, 255, 0)
  );
  transform: translateY(0%) rotateZ(-45deg);
  transition: top 350ms, transform 350ms;
  pointer-events: none;
}
.product-card:hover::before {
  top: 10%;
  transform: translateY(-50%) rotateZ(-45deg);
}

.chart {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.chart-data {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 45px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  background-image: radial-gradient(
    52.49% 52.49% at 50.04% 100%,
    rgba(255, 255, 255, 0.07) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  min-height: 450px;
}
@media (max-width: 750px) {
  .chart-data {
    gap: 25px;
  }
}
.chart-data .chart-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.chart-data .chart-bar .title {
  font-size: 0.76rem;
}
.chart-data .chart-bar .value {
  font-size: 1.3rem;
  font-weight: 700;
}
.chart-data .chart-bar .bar {
  display: block;
  width: 35px;
  background-image: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.25)
  );
  max-height: 0px;
  transition: max-height 1750ms ease-in-out;
  transition-delay: 600ms;
}
.chart_fill .chart-data .chart-bar .bar {
  max-height: 1250px;
}
.chart-data .chart-bar.top .title {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.75);
}
.chart-data .chart-bar.top .value {
  font-size: 2rem;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.75);
}
.chart-data .chart-bar.top .bar {
  background-image: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.45),
    rgba(255, 255, 255, 0.85)
  );
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
}

.button-review {
  position: relative;
  background-color: rgba(255, 255, 255, 0.075);
  padding: 25px;
  padding-top: 100px;
  border-radius: 15px;
  min-height: 400px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: 15px;
}
@media (max-width: 600px) {
  .button-review {
    flex-direction: column;
  }
}
.button-review .icon {
  position: absolute;
  top: 25px;
  left: 25px;
}
.button-review .count {
  position: absolute;
  top: 25px;
  right: 25px;
  letter-spacing: 5px;
  font-size: 0.76rem;
  color: rgba(255, 255, 255, 0.5);
}
.button-review .quote-button {
  background-color: rgba(255, 255, 255, 0.15);
  border: none;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.75);
  cursor: pointer;
  transition: background-color 250ms, color 250ms;
}
.button-review .quote-button.quote-button-alt {
  background-color: rgba(255, 255, 255, 0.075);
  color: rgba(255, 255, 255, 0.35);
}
.button-review .quote-button.quote-button-alt:hover {
  color: rgba(255, 255, 255, 0.75);
}
.button-review .quote-button:hover {
  background-color: rgba(255, 255, 255, 0.25);
}
.button-review p.quote {
  font-style: italic;
  font-weight: 700;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.button-review p.quote::before {
  content: '"';
}
.button-review p.quote::after {
  content: '"';
}
.button-review .title {
  position: relative;
  font-weight: 600;
  font-size: 0.87rem;
  letter-spacing: 0.5px;
}
.button-review .title::before {
  content: "";
  position: absolute;
  top: -20px;
  height: 1px;
  width: 75px;
  background-color: rgba(255, 255, 255, 0.5);
}
.button-review .sub {
  font-size: 0.76rem;
  color: rgba(255, 255, 255, 0.5);
}
.award-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.award-grid.award-count-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1100px) {
  .award-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 800px) {
  .award-grid,
  .award-grid.award-count-2 {
    grid-template-columns: repeat(1, 1fr);
  }
}
.card-award {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 35px 35px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
@media (max-width: 450px) {
  .card-award {
    flex-direction: column;
  }
}
.card-award img {
  width: 75px;
  object-fit: contain;
}

.comparison-table {
  border-collapse: collapse;
  width: 100%;
  /* background-color: rgba(19, 31, 39); */
  border-radius: 15px;
  margin-top: 75px;
}
.comparison-table th {
  padding: 25px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  border-right: 1px solid rgba(255, 255, 255, 0.25);
  font-weight: normal;
  min-width: 250px;
}
.comparison-table th:first-child {
  min-width: 200px;
}
.comparison-table th:last-child {
  border-right: none;
}
.comparison-table td {
  padding: 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.25);
  text-align: center;
  font-size: 0.86rem;
  font-weight: 800;
}
.comparison-table td:first-child {
  padding-left: 0;
  text-align: left;
}
.comparison-table td:last-child {
  border-right: none;
}

.comparison-table.price-product {
  /* width: unset; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
}
.comparison-table.price-product th {
  min-width: unset;
  background-color: rgba(255, 255, 255, 0.075);
  border-radius: 15px;
  border: none;
}
.comparison-table.price-product th:first-child {
  display: none;
}

/* ========================= */
/* REACT TABS CUSTOM STYLING */
/* ========================= */
.react-tabs {
  display: flex;
  flex-direction: column;
}
.react-tabs .react-tabs__tab-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 25px;
}
.react-tabs .react-tabs__tab-list .react-tabs__tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 7px 25px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255);
  border-radius: 25px;
  font-size: 0.76rem;
  font-weight: 800;
  cursor: pointer;
  outline: none;
  transition: background-color 250ms, color 250ms;
}
.react-tabs .react-tabs__tab-list .react-tabs__tab.react-tabs__tab--selected {
  background-color: rgba(255, 255, 255);
  color: rgba(20, 20, 20);
}

.custom-option {
  display: flex;
  flex-direction: row;
  position: relative;
  cursor: pointer;
  user-select: none;
}
.custom-option .values {
  display: none;
}
.custom-option > span {
  padding: 7px 15px 7px 25px;
  border-radius: 30px 0 0 30px;
  font-size: 0.86rem;
  letter-spacing: 3px;
  border: 1px solid rgba(255, 255, 255, 0.25);
}
.custom-option > span.value {
  border-radius: 0 30px 30px 0;
  border-left: none;
  padding: 7px 20px 7px 20px;
}
.custom-option.option-open .values {
  cursor: default;
  display: flex;
  position: absolute;
  flex-direction: column;
  gap: 5px;
  bottom: -10px;
  left: 50%;
  border-radius: 7px;
  transform: translateX(-50%) translateY(100%);
  background-color: rgba(20, 20, 25);
  padding: 10px 10px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.15);
}
.custom-option.option-open .values input {
  background-color: rgba(255, 255, 255, 0.075);
  color: white;
  border: none;
  outline: none;
  padding: 5px 10px;
  border-radius: 7px;
  transition: background-color 250ms;
}
.custom-option.option-open .values input:hover,
.custom-option.option-open .values input:focus {
  background-color: rgba(255, 255, 255, 0.125);
}
.custom-option.option-open .values .list-value {
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 250ms;
  font-size: 0.86rem;
  font-weight: 800;
}
.custom-option.option-open .values .list-value.list-value-selected {
  background-color: rgba(255, 255, 255, 0.075);
}
.custom-option.option-open .values .list-value:hover {
  background-color: rgba(255, 255, 255, 0.125);
}
