.stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1738px 1979px #fff, 1117px 306px #fff, 1193px 198px #fff,
    572px 450px #fff, 26px 956px #fff, 1104px 937px #fff, 931px 896px #fff,
    401px 160px #fff, 993px 763px #fff, 421px 89px #fff, 1908px 500px #fff,
    1834px 310px #fff, 1278px 327px #fff, 1327px 744px #fff, 315px 64px #fff,
    1049px 640px #fff, 564px 257px #fff, 1617px 1879px #fff, 259px 1343px #fff,
    1360px 1852px #fff, 1508px 1629px #fff, 1809px 122px #fff,
    1079px 1200px #fff, 1639px 31px #fff, 1272px 850px #fff, 998px 203px #fff,
    1805px 1014px #fff, 1814px 1238px #fff, 1566px 1870px #fff,
    1868px 137px #fff, 955px 1697px #fff, 1854px 1701px #fff, 200px 479px #fff,
    1516px 1089px #fff, 1575px 60px #fff, 366px 572px #fff, 1151px 1637px #fff,
    732px 678px #fff, 1834px 1140px #fff, 215px 258px #fff, 629px 1942px #fff,
    1625px 1737px #fff, 587px 164px #fff, 740px 82px #fff, 1192px 1090px #fff,
    965px 1580px #fff, 663px 363px #fff, 1197px 894px #fff, 1510px 895px #fff,
    15px 764px #fff, 38px 422px #fff, 1193px 487px #fff, 1020px 721px #fff,
    1588px 1748px #fff, 1184px 1595px #fff, 983px 1755px #fff, 716px 1467px #fff,
    1001px 412px #fff, 1205px 1989px #fff, 589px 1637px #fff, 1122px 838px #fff,
    433px 198px #fff, 1580px 300px #fff, 120px 1765px #fff, 1372px 388px #fff,
    606px 1717px #fff, 524px 1359px #fff, 69px 1001px #fff, 1721px 1804px #fff,
    1500px 170px #fff, 857px 661px #fff, 1479px 1166px #fff, 1499px 154px #fff,
    995px 162px #fff, 1667px 694px #fff, 190px 1944px #fff, 630px 1087px #fff,
    1109px 977px #fff, 490px 245px #fff, 306px 1389px #fff, 884px 1425px #fff,
    1011px 56px #fff, 359px 1813px #fff, 548px 1782px #fff, 422px 560px #fff,
    497px 494px #fff, 477px 521px #fff, 287px 934px #fff, 1588px 1262px #fff,
    1129px 323px #fff, 1567px 1049px #fff, 1849px 1276px #fff, 702px 631px #fff,
    1463px 616px #fff, 464px 1033px #fff, 1px 1887px #fff, 108px 1720px #fff,
    1033px 444px #fff, 1064px 739px #fff, 109px 391px #fff, 1216px 1301px #fff,
    1126px 895px #fff, 280px 1578px #fff, 1376px 1416px #fff, 455px 1276px #fff,
    175px 421px #fff, 639px 130px #fff, 915px 1596px #fff, 244px 499px #fff,
    1007px 200px #fff, 1505px 623px #fff, 1959px 1745px #fff, 1138px 1446px #fff,
    1847px 1376px #fff, 107px 829px #fff, 862px 1357px #fff, 1818px 1780px #fff,
    813px 1818px #fff, 1593px 830px #fff, 1154px 400px #fff, 1622px 316px #fff,
    855px 246px #fff, 591px 879px #fff, 598px 838px #fff, 1473px 535px #fff,
    840px 997px #fff, 139px 285px #fff, 403px 1334px #fff, 1303px 385px #fff,
    584px 190px #fff, 1024px 1039px #fff, 1892px 1595px #fff, 448px 1876px #fff,
    1501px 1516px #fff, 691px 1313px #fff, 346px 996px #fff, 470px 1154px #fff,
    1257px 1933px #fff, 167px 829px #fff, 729px 1358px #fff, 869px 564px #fff,
    394px 1748px #fff, 1396px 770px #fff, 534px 1755px #fff, 22px 115px #fff,
    668px 136px #fff, 537px 1177px #fff, 1791px 1866px #fff, 1059px 1755px #fff,
    1622px 1347px #fff, 1304px 1970px #fff, 956px 172px #fff, 20px 137px #fff,
    1860px 733px #fff, 1823px 1701px #fff, 1813px 840px #fff, 647px 970px #fff,
    712px 1324px #fff, 1838px 1601px #fff, 1463px 1905px #fff, 1520px 677px #fff,
    1756px 752px #fff, 1612px 941px #fff, 475px 940px #fff, 59px 461px #fff,
    1675px 1529px #fff, 333px 1572px #fff, 1097px 187px #fff, 1683px 1645px #fff,
    1859px 702px #fff, 1034px 811px #fff, 1072px 397px #fff, 1964px 1332px #fff,
    1997px 437px #fff, 1228px 1126px #fff, 217px 940px #fff, 180px 1174px #fff,
    743px 1796px #fff, 122px 465px #fff, 1130px 630px #fff, 1849px 334px #fff,
    1518px 89px #fff, 1404px 1249px #fff, 228px 711px #fff, 960px 478px #fff,
    1768px 93px #fff, 1515px 1977px #fff, 79px 716px #fff, 1447px 757px #fff,
    475px 1614px #fff, 377px 903px #fff, 766px 1542px #fff, 1399px 707px #fff,
    269px 836px #fff, 187px 1042px #fff, 840px 946px #fff, 870px 909px #fff,
    411px 1505px #fff, 1805px 1126px #fff, 507px 527px #fff, 544px 1079px #fff,
    1871px 920px #fff, 765px 1694px #fff, 312px 1117px #fff, 224px 1317px #fff,
    250px 1818px #fff, 1203px 1091px #fff, 2px 778px #fff, 1492px 634px #fff,
    256px 1330px #fff, 1043px 59px #fff, 1780px 1337px #fff, 807px 736px #fff,
    282px 185px #fff, 1126px 1025px #fff, 102px 911px #fff, 1848px 557px #fff,
    1625px 260px #fff, 886px 1851px #fff, 434px 1219px #fff, 17px 1248px #fff,
    1961px 602px #fff, 708px 1988px #fff, 595px 1956px #fff, 1233px 951px #fff,
    410px 1261px #fff, 44px 280px #fff, 1083px 1003px #fff, 1917px 1172px #fff,
    79px 421px #fff, 1467px 1623px #fff, 1180px 266px #fff, 689px 1145px #fff,
    380px 881px #fff, 1865px 76px #fff, 1431px 216px #fff, 1383px 461px #fff,
    1114px 347px #fff, 383px 1134px #fff, 192px 409px #fff, 1811px 1154px #fff,
    26px 1361px #fff, 586px 1885px #fff, 571px 1119px #fff, 1007px 1509px #fff,
    1585px 1670px #fff, 1940px 764px #fff, 235px 608px #fff, 62px 1268px #fff,
    642px 562px #fff, 1150px 1927px #fff, 1059px 1206px #fff, 411px 519px #fff,
    164px 1403px #fff, 453px 328px #fff, 286px 985px #fff, 441px 709px #fff,
    98px 51px #fff, 883px 1597px #fff, 1464px 1377px #fff, 1759px 1581px #fff,
    80px 1981px #fff, 1830px 968px #fff, 1858px 122px #fff, 1015px 1637px #fff,
    985px 496px #fff, 113px 1545px #fff, 604px 1715px #fff, 1396px 519px #fff,
    1024px 1238px #fff, 1979px 1460px #fff, 61px 1248px #fff, 1089px 1343px #fff,
    442px 1345px #fff, 1079px 1780px #fff, 156px 455px #fff, 1321px 1281px #fff,
    1840px 1763px #fff, 865px 1863px #fff, 567px 85px #fff, 1757px 1114px #fff,
    576px 1235px #fff, 1744px 1827px #fff, 1352px 110px #fff, 1427px 414px #fff,
    826px 563px #fff, 1241px 451px #fff, 1276px 1995px #fff, 1974px 1453px #fff,
    1716px 1028px #fff, 921px 1644px #fff, 1657px 634px #fff, 1515px 1376px #fff,
    1340px 1696px #fff, 227px 647px #fff, 451px 1429px #fff, 360px 87px #fff,
    791px 172px #fff, 1263px 1841px #fff, 842px 1349px #fff, 1700px 1788px #fff,
    788px 1196px #fff, 1162px 1895px #fff, 1472px 107px #fff, 192px 1161px #fff,
    1371px 1758px #fff, 1681px 910px #fff, 1190px 1422px #fff, 1002px 486px #fff,
    507px 1010px #fff, 1501px 705px #fff, 1984px 802px #fff, 855px 1614px #fff,
    1316px 1203px #fff, 1295px 1023px #fff, 729px 259px #fff, 41px 204px #fff,
    1444px 1545px #fff, 97px 323px #fff, 1829px 629px #fff, 978px 39px #fff,
    1862px 492px #fff, 1467px 648px #fff, 312px 1433px #fff, 775px 770px #fff,
    1149px 515px #fff, 1845px 1346px #fff, 20px 103px #fff, 493px 795px #fff,
    799px 1231px #fff, 995px 271px #fff, 238px 1477px #fff, 1717px 758px #fff,
    1684px 1167px #fff, 1748px 835px #fff, 1877px 356px #fff, 1142px 744px #fff,
    373px 847px #fff, 1798px 1871px #fff, 160px 1913px #fff, 178px 1918px #fff,
    1343px 1373px #fff, 636px 453px #fff, 809px 812px #fff, 1122px 1900px #fff,
    645px 1755px #fff, 1729px 831px #fff, 1242px 1857px #fff, 747px 256px #fff,
    239px 1912px #fff, 1865px 123px #fff, 655px 1412px #fff, 539px 1915px #fff,
    1624px 866px #fff, 666px 1598px #fff, 1813px 95px #fff, 1084px 92px #fff,
    1446px 882px #fff, 304px 61px #fff, 475px 1455px #fff, 1645px 48px #fff,
    747px 2000px #fff, 1724px 1458px #fff, 650px 1785px #fff, 1855px 1815px #fff,
    438px 513px #fff, 1562px 624px #fff, 1675px 526px #fff, 598px 220px #fff,
    1340px 1774px #fff, 321px 1073px #fff, 1616px 872px #fff, 1897px 1902px #fff,
    1578px 1267px #fff, 753px 592px #fff, 704px 506px #fff, 1507px 55px #fff,
    412px 1399px #fff, 1926px 1139px #fff, 1572px 566px #fff, 649px 956px #fff,
    9px 333px #fff, 1656px 1486px #fff, 122px 175px #fff, 1629px 1066px #fff,
    574px 303px #fff, 1211px 1917px #fff, 1775px 557px #fff, 241px 1717px #fff,
    496px 1098px #fff, 146px 1749px #fff, 178px 1930px #fff, 380px 291px #fff,
    1997px 398px #fff, 872px 300px #fff, 988px 974px #fff, 1059px 741px #fff,
    478px 1652px #fff, 1440px 907px #fff, 1900px 372px #fff, 153px 850px #fff,
    920px 1783px #fff, 1738px 1430px #fff, 1569px 1864px #fff, 521px 1698px #fff,
    723px 189px #fff, 591px 970px #fff, 167px 355px #fff, 79px 525px #fff,
    1480px 1755px #fff, 1676px 615px #fff, 1644px 1502px #fff, 922px 1470px #fff,
    685px 1853px #fff, 940px 1498px #fff, 1725px 382px #fff, 229px 1427px #fff,
    1758px 1265px #fff, 919px 1331px #fff, 839px 818px #fff, 563px 818px #fff,
    1345px 127px #fff, 727px 184px #fff, 1298px 1054px #fff, 376px 459px #fff,
    756px 1124px #fff, 386px 59px #fff, 1143px 147px #fff, 1870px 431px #fff,
    894px 1648px #fff, 930px 1795px #fff, 315px 9px #fff, 814px 302px #fff,
    2px 462px #fff, 834px 801px #fff, 737px 1561px #fff, 799px 563px #fff,
    148px 1074px #fff, 753px 1466px #fff, 873px 815px #fff, 121px 271px #fff,
    1550px 16px #fff, 1617px 1099px #fff, 1509px 1437px #fff, 1276px 1086px #fff,
    552px 1282px #fff, 1614px 474px #fff, 222px 1873px #fff, 755px 233px #fff,
    1222px 1772px #fff, 78px 734px #fff, 1023px 818px #fff, 1363px 263px #fff,
    1922px 694px #fff, 720px 935px #fff, 1201px 1047px #fff, 1905px 997px #fff,
    760px 459px #fff, 1554px 115px #fff, 1628px 861px #fff, 158px 1718px #fff,
    1702px 788px #fff, 1180px 459px #fff, 135px 1293px #fff, 340px 1671px #fff,
    1404px 529px #fff, 814px 659px #fff, 1978px 388px #fff, 1091px 377px #fff,
    652px 1348px #fff, 733px 1689px #fff, 29px 1130px #fff, 1116px 1853px #fff,
    435px 1228px #fff, 1189px 151px #fff, 1781px 597px #fff, 1786px 1040px #fff,
    154px 853px #fff, 1874px 1850px #fff, 354px 543px #fff, 1550px 1211px #fff,
    714px 1197px #fff, 1718px 612px #fff, 573px 1195px #fff, 704px 466px #fff,
    1594px 242px #fff, 1772px 1685px #fff, 168px 1485px #fff, 1141px 173px #fff,
    1669px 1400px #fff, 130px 440px #fff, 647px 615px #fff, 50px 493px #fff,
    1888px 1323px #fff, 560px 1222px #fff, 1511px 1547px #fff, 1640px 236px #fff,
    727px 160px #fff, 92px 294px #fff, 1793px 262px #fff, 1338px 1465px #fff,
    1263px 633px #fff, 570px 564px #fff, 349px 787px #fff, 1459px 1467px #fff,
    1505px 1103px #fff, 784px 1796px #fff, 1727px 869px #fff, 681px 1879px #fff,
    1366px 1573px #fff, 918px 823px #fff, 1550px 833px #fff, 813px 280px #fff,
    1203px 1143px #fff, 692px 497px #fff, 1769px 243px #fff, 1145px 498px #fff,
    843px 1392px #fff, 1986px 1188px #fff, 1025px 1531px #fff, 133px 1633px #fff,
    1750px 307px #fff, 1300px 1583px #fff, 356px 283px #fff, 1373px 617px #fff,
    1890px 437px #fff, 1519px 572px #fff, 61px 755px #fff, 352px 708px #fff,
    1672px 961px #fff, 935px 1876px #fff, 1898px 580px #fff, 1749px 205px #fff,
    1530px 1039px #fff, 149px 669px #fff, 913px 1887px #fff, 1272px 1827px #fff,
    612px 1673px #fff, 170px 576px #fff, 206px 707px #fff, 604px 538px #fff,
    861px 1520px #fff, 878px 280px #fff, 458px 971px #fff, 438px 626px #fff,
    1864px 1296px #fff, 1387px 1380px #fff, 1058px 1405px #fff,
    757px 1270px #fff, 1981px 1107px #fff, 989px 1611px #fff, 112px 457px #fff,
    1592px 900px #fff, 577px 1585px #fff, 1738px 1418px #fff, 747px 711px #fff,
    1898px 1628px #fff, 360px 1607px #fff, 1512px 1502px #fff,
    1489px 1089px #fff, 315px 166px #fff, 615px 1505px #fff, 617px 1468px #fff,
    807px 1166px #fff, 913px 710px #fff, 1594px 1248px #fff, 1901px 520px #fff,
    1336px 1681px #fff, 697px 1942px #fff, 1196px 1496px #fff, 603px 591px #fff,
    1940px 788px #fff, 1971px 1136px #fff, 1733px 1906px #fff, 283px 1148px #fff,
    1419px 1350px #fff, 642px 431px #fff, 303px 1505px #fff, 129px 1892px #fff,
    826px 995px #fff, 875px 561px #fff, 49px 1325px #fff, 1179px 1837px #fff,
    428px 531px #fff, 1132px 1699px #fff, 1762px 149px #fff, 5px 532px #fff,
    142px 930px #fff, 1540px 428px #fff, 202px 1237px #fff, 1231px 1872px #fff,
    619px 1401px #fff, 546px 1520px #fff, 1449px 1059px #fff, 143px 354px #fff,
    710px 1326px #fff, 853px 939px #fff, 829px 1951px #fff, 1822px 1004px #fff,
    302px 1059px #fff, 9px 1917px #fff, 138px 1669px #fff, 339px 165px #fff,
    85px 1587px #fff, 445px 537px #fff, 1366px 1042px #fff, 677px 983px #fff,
    1475px 231px #fff, 410px 1714px #fff, 1684px 1510px #fff, 1760px 478px #fff,
    1593px 1482px #fff, 1930px 736px #fff, 1580px 154px #fff, 462px 1685px #fff,
    1186px 656px #fff, 530px 301px #fff, 681px 1441px #fff, 1341px 1357px #fff,
    671px 690px #fff, 805px 1352px #fff, 1425px 822px #fff, 1224px 1995px #fff,
    1710px 1709px #fff, 1211px 1479px #fff, 274px 1176px #fff, 1713px 276px #fff,
    1564px 352px #fff, 978px 151px #fff, 745px 1375px #fff, 394px 182px #fff,
    628px 1526px #fff, 367px 299px #fff, 1106px 1278px #fff, 1302px 1219px #fff,
    1878px 629px #fff, 1801px 646px #fff, 1987px 1984px #fff, 418px 374px #fff,
    927px 1889px #fff, 422px 1580px #fff, 1839px 1850px #fff, 810px 1296px #fff,
    1908px 1031px #fff, 1724px 1738px #fff, 1267px 1758px #fff,
    1842px 1961px #fff, 1687px 497px #fff, 1682px 904px #fff, 703px 1543px #fff,
    273px 1725px #fff, 1791px 751px #fff, 585px 1786px #fff, 775px 1083px #fff,
    879px 490px #fff, 429px 12px #fff, 1532px 1945px #fff, 119px 398px #fff,
    801px 1159px #fff, 884px 1358px #fff, 359px 525px #fff, 41px 1789px #fff,
    1140px 1857px #fff, 553px 583px #fff, 287px 64px #fff, 1561px 830px #fff,
    444px 1088px #fff, 1037px 1117px #fff, 1606px 1423px #fff, 1923px 128px #fff,
    1817px 1052px #fff, 370px 1329px #fff, 487px 969px #fff, 1496px 96px #fff,
    1741px 1607px #fff, 747px 578px #fff, 1898px 173px #fff, 592px 1889px #fff,
    583px 29px #fff, 1681px 368px #fff, 31px 1153px #fff, 582px 1757px #fff,
    276px 262px #fff, 839px 344px #fff, 1596px 656px #fff, 764px 1939px #fff,
    1159px 1304px #fff, 466px 1425px #fff, 436px 1574px #fff, 634px 1463px #fff,
    610px 1814px #fff, 1327px 1286px #fff, 1448px 1934px #fff, 44px 77px #fff,
    1672px 65px #fff, 1732px 1870px #fff, 94px 1430px #fff, 239px 288px #fff,
    187px 1841px #fff, 1498px 653px #fff;
  animation: animStar 50s linear infinite;
}
.stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1738px 1979px #fff, 1117px 306px #fff, 1193px 198px #fff,
    572px 450px #fff, 26px 956px #fff, 1104px 937px #fff, 931px 896px #fff,
    401px 160px #fff, 993px 763px #fff, 421px 89px #fff, 1908px 500px #fff,
    1834px 310px #fff, 1278px 327px #fff, 1327px 744px #fff, 315px 64px #fff,
    1049px 640px #fff, 564px 257px #fff, 1617px 1879px #fff, 259px 1343px #fff,
    1360px 1852px #fff, 1508px 1629px #fff, 1809px 122px #fff,
    1079px 1200px #fff, 1639px 31px #fff, 1272px 850px #fff, 998px 203px #fff,
    1805px 1014px #fff, 1814px 1238px #fff, 1566px 1870px #fff,
    1868px 137px #fff, 955px 1697px #fff, 1854px 1701px #fff, 200px 479px #fff,
    1516px 1089px #fff, 1575px 60px #fff, 366px 572px #fff, 1151px 1637px #fff,
    732px 678px #fff, 1834px 1140px #fff, 215px 258px #fff, 629px 1942px #fff,
    1625px 1737px #fff, 587px 164px #fff, 740px 82px #fff, 1192px 1090px #fff,
    965px 1580px #fff, 663px 363px #fff, 1197px 894px #fff, 1510px 895px #fff,
    15px 764px #fff, 38px 422px #fff, 1193px 487px #fff, 1020px 721px #fff,
    1588px 1748px #fff, 1184px 1595px #fff, 983px 1755px #fff, 716px 1467px #fff,
    1001px 412px #fff, 1205px 1989px #fff, 589px 1637px #fff, 1122px 838px #fff,
    433px 198px #fff, 1580px 300px #fff, 120px 1765px #fff, 1372px 388px #fff,
    606px 1717px #fff, 524px 1359px #fff, 69px 1001px #fff, 1721px 1804px #fff,
    1500px 170px #fff, 857px 661px #fff, 1479px 1166px #fff, 1499px 154px #fff,
    995px 162px #fff, 1667px 694px #fff, 190px 1944px #fff, 630px 1087px #fff,
    1109px 977px #fff, 490px 245px #fff, 306px 1389px #fff, 884px 1425px #fff,
    1011px 56px #fff, 359px 1813px #fff, 548px 1782px #fff, 422px 560px #fff,
    497px 494px #fff, 477px 521px #fff, 287px 934px #fff, 1588px 1262px #fff,
    1129px 323px #fff, 1567px 1049px #fff, 1849px 1276px #fff, 702px 631px #fff,
    1463px 616px #fff, 464px 1033px #fff, 1px 1887px #fff, 108px 1720px #fff,
    1033px 444px #fff, 1064px 739px #fff, 109px 391px #fff, 1216px 1301px #fff,
    1126px 895px #fff, 280px 1578px #fff, 1376px 1416px #fff, 455px 1276px #fff,
    175px 421px #fff, 639px 130px #fff, 915px 1596px #fff, 244px 499px #fff,
    1007px 200px #fff, 1505px 623px #fff, 1959px 1745px #fff, 1138px 1446px #fff,
    1847px 1376px #fff, 107px 829px #fff, 862px 1357px #fff, 1818px 1780px #fff,
    813px 1818px #fff, 1593px 830px #fff, 1154px 400px #fff, 1622px 316px #fff,
    855px 246px #fff, 591px 879px #fff, 598px 838px #fff, 1473px 535px #fff,
    840px 997px #fff, 139px 285px #fff, 403px 1334px #fff, 1303px 385px #fff,
    584px 190px #fff, 1024px 1039px #fff, 1892px 1595px #fff, 448px 1876px #fff,
    1501px 1516px #fff, 691px 1313px #fff, 346px 996px #fff, 470px 1154px #fff,
    1257px 1933px #fff, 167px 829px #fff, 729px 1358px #fff, 869px 564px #fff,
    394px 1748px #fff, 1396px 770px #fff, 534px 1755px #fff, 22px 115px #fff,
    668px 136px #fff, 537px 1177px #fff, 1791px 1866px #fff, 1059px 1755px #fff,
    1622px 1347px #fff, 1304px 1970px #fff, 956px 172px #fff, 20px 137px #fff,
    1860px 733px #fff, 1823px 1701px #fff, 1813px 840px #fff, 647px 970px #fff,
    712px 1324px #fff, 1838px 1601px #fff, 1463px 1905px #fff, 1520px 677px #fff,
    1756px 752px #fff, 1612px 941px #fff, 475px 940px #fff, 59px 461px #fff,
    1675px 1529px #fff, 333px 1572px #fff, 1097px 187px #fff, 1683px 1645px #fff,
    1859px 702px #fff, 1034px 811px #fff, 1072px 397px #fff, 1964px 1332px #fff,
    1997px 437px #fff, 1228px 1126px #fff, 217px 940px #fff, 180px 1174px #fff,
    743px 1796px #fff, 122px 465px #fff, 1130px 630px #fff, 1849px 334px #fff,
    1518px 89px #fff, 1404px 1249px #fff, 228px 711px #fff, 960px 478px #fff,
    1768px 93px #fff, 1515px 1977px #fff, 79px 716px #fff, 1447px 757px #fff,
    475px 1614px #fff, 377px 903px #fff, 766px 1542px #fff, 1399px 707px #fff,
    269px 836px #fff, 187px 1042px #fff, 840px 946px #fff, 870px 909px #fff,
    411px 1505px #fff, 1805px 1126px #fff, 507px 527px #fff, 544px 1079px #fff,
    1871px 920px #fff, 765px 1694px #fff, 312px 1117px #fff, 224px 1317px #fff,
    250px 1818px #fff, 1203px 1091px #fff, 2px 778px #fff, 1492px 634px #fff,
    256px 1330px #fff, 1043px 59px #fff, 1780px 1337px #fff, 807px 736px #fff,
    282px 185px #fff, 1126px 1025px #fff, 102px 911px #fff, 1848px 557px #fff,
    1625px 260px #fff, 886px 1851px #fff, 434px 1219px #fff, 17px 1248px #fff,
    1961px 602px #fff, 708px 1988px #fff, 595px 1956px #fff, 1233px 951px #fff,
    410px 1261px #fff, 44px 280px #fff, 1083px 1003px #fff, 1917px 1172px #fff,
    79px 421px #fff, 1467px 1623px #fff, 1180px 266px #fff, 689px 1145px #fff,
    380px 881px #fff, 1865px 76px #fff, 1431px 216px #fff, 1383px 461px #fff,
    1114px 347px #fff, 383px 1134px #fff, 192px 409px #fff, 1811px 1154px #fff,
    26px 1361px #fff, 586px 1885px #fff, 571px 1119px #fff, 1007px 1509px #fff,
    1585px 1670px #fff, 1940px 764px #fff, 235px 608px #fff, 62px 1268px #fff,
    642px 562px #fff, 1150px 1927px #fff, 1059px 1206px #fff, 411px 519px #fff,
    164px 1403px #fff, 453px 328px #fff, 286px 985px #fff, 441px 709px #fff,
    98px 51px #fff, 883px 1597px #fff, 1464px 1377px #fff, 1759px 1581px #fff,
    80px 1981px #fff, 1830px 968px #fff, 1858px 122px #fff, 1015px 1637px #fff,
    985px 496px #fff, 113px 1545px #fff, 604px 1715px #fff, 1396px 519px #fff,
    1024px 1238px #fff, 1979px 1460px #fff, 61px 1248px #fff, 1089px 1343px #fff,
    442px 1345px #fff, 1079px 1780px #fff, 156px 455px #fff, 1321px 1281px #fff,
    1840px 1763px #fff, 865px 1863px #fff, 567px 85px #fff, 1757px 1114px #fff,
    576px 1235px #fff, 1744px 1827px #fff, 1352px 110px #fff, 1427px 414px #fff,
    826px 563px #fff, 1241px 451px #fff, 1276px 1995px #fff, 1974px 1453px #fff,
    1716px 1028px #fff, 921px 1644px #fff, 1657px 634px #fff, 1515px 1376px #fff,
    1340px 1696px #fff, 227px 647px #fff, 451px 1429px #fff, 360px 87px #fff,
    791px 172px #fff, 1263px 1841px #fff, 842px 1349px #fff, 1700px 1788px #fff,
    788px 1196px #fff, 1162px 1895px #fff, 1472px 107px #fff, 192px 1161px #fff,
    1371px 1758px #fff, 1681px 910px #fff, 1190px 1422px #fff, 1002px 486px #fff,
    507px 1010px #fff, 1501px 705px #fff, 1984px 802px #fff, 855px 1614px #fff,
    1316px 1203px #fff, 1295px 1023px #fff, 729px 259px #fff, 41px 204px #fff,
    1444px 1545px #fff, 97px 323px #fff, 1829px 629px #fff, 978px 39px #fff,
    1862px 492px #fff, 1467px 648px #fff, 312px 1433px #fff, 775px 770px #fff,
    1149px 515px #fff, 1845px 1346px #fff, 20px 103px #fff, 493px 795px #fff,
    799px 1231px #fff, 995px 271px #fff, 238px 1477px #fff, 1717px 758px #fff,
    1684px 1167px #fff, 1748px 835px #fff, 1877px 356px #fff, 1142px 744px #fff,
    373px 847px #fff, 1798px 1871px #fff, 160px 1913px #fff, 178px 1918px #fff,
    1343px 1373px #fff, 636px 453px #fff, 809px 812px #fff, 1122px 1900px #fff,
    645px 1755px #fff, 1729px 831px #fff, 1242px 1857px #fff, 747px 256px #fff,
    239px 1912px #fff, 1865px 123px #fff, 655px 1412px #fff, 539px 1915px #fff,
    1624px 866px #fff, 666px 1598px #fff, 1813px 95px #fff, 1084px 92px #fff,
    1446px 882px #fff, 304px 61px #fff, 475px 1455px #fff, 1645px 48px #fff,
    747px 2000px #fff, 1724px 1458px #fff, 650px 1785px #fff, 1855px 1815px #fff,
    438px 513px #fff, 1562px 624px #fff, 1675px 526px #fff, 598px 220px #fff,
    1340px 1774px #fff, 321px 1073px #fff, 1616px 872px #fff, 1897px 1902px #fff,
    1578px 1267px #fff, 753px 592px #fff, 704px 506px #fff, 1507px 55px #fff,
    412px 1399px #fff, 1926px 1139px #fff, 1572px 566px #fff, 649px 956px #fff,
    9px 333px #fff, 1656px 1486px #fff, 122px 175px #fff, 1629px 1066px #fff,
    574px 303px #fff, 1211px 1917px #fff, 1775px 557px #fff, 241px 1717px #fff,
    496px 1098px #fff, 146px 1749px #fff, 178px 1930px #fff, 380px 291px #fff,
    1997px 398px #fff, 872px 300px #fff, 988px 974px #fff, 1059px 741px #fff,
    478px 1652px #fff, 1440px 907px #fff, 1900px 372px #fff, 153px 850px #fff,
    920px 1783px #fff, 1738px 1430px #fff, 1569px 1864px #fff, 521px 1698px #fff,
    723px 189px #fff, 591px 970px #fff, 167px 355px #fff, 79px 525px #fff,
    1480px 1755px #fff, 1676px 615px #fff, 1644px 1502px #fff, 922px 1470px #fff,
    685px 1853px #fff, 940px 1498px #fff, 1725px 382px #fff, 229px 1427px #fff,
    1758px 1265px #fff, 919px 1331px #fff, 839px 818px #fff, 563px 818px #fff,
    1345px 127px #fff, 727px 184px #fff, 1298px 1054px #fff, 376px 459px #fff,
    756px 1124px #fff, 386px 59px #fff, 1143px 147px #fff, 1870px 431px #fff,
    894px 1648px #fff, 930px 1795px #fff, 315px 9px #fff, 814px 302px #fff,
    2px 462px #fff, 834px 801px #fff, 737px 1561px #fff, 799px 563px #fff,
    148px 1074px #fff, 753px 1466px #fff, 873px 815px #fff, 121px 271px #fff,
    1550px 16px #fff, 1617px 1099px #fff, 1509px 1437px #fff, 1276px 1086px #fff,
    552px 1282px #fff, 1614px 474px #fff, 222px 1873px #fff, 755px 233px #fff,
    1222px 1772px #fff, 78px 734px #fff, 1023px 818px #fff, 1363px 263px #fff,
    1922px 694px #fff, 720px 935px #fff, 1201px 1047px #fff, 1905px 997px #fff,
    760px 459px #fff, 1554px 115px #fff, 1628px 861px #fff, 158px 1718px #fff,
    1702px 788px #fff, 1180px 459px #fff, 135px 1293px #fff, 340px 1671px #fff,
    1404px 529px #fff, 814px 659px #fff, 1978px 388px #fff, 1091px 377px #fff,
    652px 1348px #fff, 733px 1689px #fff, 29px 1130px #fff, 1116px 1853px #fff,
    435px 1228px #fff, 1189px 151px #fff, 1781px 597px #fff, 1786px 1040px #fff,
    154px 853px #fff, 1874px 1850px #fff, 354px 543px #fff, 1550px 1211px #fff,
    714px 1197px #fff, 1718px 612px #fff, 573px 1195px #fff, 704px 466px #fff,
    1594px 242px #fff, 1772px 1685px #fff, 168px 1485px #fff, 1141px 173px #fff,
    1669px 1400px #fff, 130px 440px #fff, 647px 615px #fff, 50px 493px #fff,
    1888px 1323px #fff, 560px 1222px #fff, 1511px 1547px #fff, 1640px 236px #fff,
    727px 160px #fff, 92px 294px #fff, 1793px 262px #fff, 1338px 1465px #fff,
    1263px 633px #fff, 570px 564px #fff, 349px 787px #fff, 1459px 1467px #fff,
    1505px 1103px #fff, 784px 1796px #fff, 1727px 869px #fff, 681px 1879px #fff,
    1366px 1573px #fff, 918px 823px #fff, 1550px 833px #fff, 813px 280px #fff,
    1203px 1143px #fff, 692px 497px #fff, 1769px 243px #fff, 1145px 498px #fff,
    843px 1392px #fff, 1986px 1188px #fff, 1025px 1531px #fff, 133px 1633px #fff,
    1750px 307px #fff, 1300px 1583px #fff, 356px 283px #fff, 1373px 617px #fff,
    1890px 437px #fff, 1519px 572px #fff, 61px 755px #fff, 352px 708px #fff,
    1672px 961px #fff, 935px 1876px #fff, 1898px 580px #fff, 1749px 205px #fff,
    1530px 1039px #fff, 149px 669px #fff, 913px 1887px #fff, 1272px 1827px #fff,
    612px 1673px #fff, 170px 576px #fff, 206px 707px #fff, 604px 538px #fff,
    861px 1520px #fff, 878px 280px #fff, 458px 971px #fff, 438px 626px #fff,
    1864px 1296px #fff, 1387px 1380px #fff, 1058px 1405px #fff,
    757px 1270px #fff, 1981px 1107px #fff, 989px 1611px #fff, 112px 457px #fff,
    1592px 900px #fff, 577px 1585px #fff, 1738px 1418px #fff, 747px 711px #fff,
    1898px 1628px #fff, 360px 1607px #fff, 1512px 1502px #fff,
    1489px 1089px #fff, 315px 166px #fff, 615px 1505px #fff, 617px 1468px #fff,
    807px 1166px #fff, 913px 710px #fff, 1594px 1248px #fff, 1901px 520px #fff,
    1336px 1681px #fff, 697px 1942px #fff, 1196px 1496px #fff, 603px 591px #fff,
    1940px 788px #fff, 1971px 1136px #fff, 1733px 1906px #fff, 283px 1148px #fff,
    1419px 1350px #fff, 642px 431px #fff, 303px 1505px #fff, 129px 1892px #fff,
    826px 995px #fff, 875px 561px #fff, 49px 1325px #fff, 1179px 1837px #fff,
    428px 531px #fff, 1132px 1699px #fff, 1762px 149px #fff, 5px 532px #fff,
    142px 930px #fff, 1540px 428px #fff, 202px 1237px #fff, 1231px 1872px #fff,
    619px 1401px #fff, 546px 1520px #fff, 1449px 1059px #fff, 143px 354px #fff,
    710px 1326px #fff, 853px 939px #fff, 829px 1951px #fff, 1822px 1004px #fff,
    302px 1059px #fff, 9px 1917px #fff, 138px 1669px #fff, 339px 165px #fff,
    85px 1587px #fff, 445px 537px #fff, 1366px 1042px #fff, 677px 983px #fff,
    1475px 231px #fff, 410px 1714px #fff, 1684px 1510px #fff, 1760px 478px #fff,
    1593px 1482px #fff, 1930px 736px #fff, 1580px 154px #fff, 462px 1685px #fff,
    1186px 656px #fff, 530px 301px #fff, 681px 1441px #fff, 1341px 1357px #fff,
    671px 690px #fff, 805px 1352px #fff, 1425px 822px #fff, 1224px 1995px #fff,
    1710px 1709px #fff, 1211px 1479px #fff, 274px 1176px #fff, 1713px 276px #fff,
    1564px 352px #fff, 978px 151px #fff, 745px 1375px #fff, 394px 182px #fff,
    628px 1526px #fff, 367px 299px #fff, 1106px 1278px #fff, 1302px 1219px #fff,
    1878px 629px #fff, 1801px 646px #fff, 1987px 1984px #fff, 418px 374px #fff,
    927px 1889px #fff, 422px 1580px #fff, 1839px 1850px #fff, 810px 1296px #fff,
    1908px 1031px #fff, 1724px 1738px #fff, 1267px 1758px #fff,
    1842px 1961px #fff, 1687px 497px #fff, 1682px 904px #fff, 703px 1543px #fff,
    273px 1725px #fff, 1791px 751px #fff, 585px 1786px #fff, 775px 1083px #fff,
    879px 490px #fff, 429px 12px #fff, 1532px 1945px #fff, 119px 398px #fff,
    801px 1159px #fff, 884px 1358px #fff, 359px 525px #fff, 41px 1789px #fff,
    1140px 1857px #fff, 553px 583px #fff, 287px 64px #fff, 1561px 830px #fff,
    444px 1088px #fff, 1037px 1117px #fff, 1606px 1423px #fff, 1923px 128px #fff,
    1817px 1052px #fff, 370px 1329px #fff, 487px 969px #fff, 1496px 96px #fff,
    1741px 1607px #fff, 747px 578px #fff, 1898px 173px #fff, 592px 1889px #fff,
    583px 29px #fff, 1681px 368px #fff, 31px 1153px #fff, 582px 1757px #fff,
    276px 262px #fff, 839px 344px #fff, 1596px 656px #fff, 764px 1939px #fff,
    1159px 1304px #fff, 466px 1425px #fff, 436px 1574px #fff, 634px 1463px #fff,
    610px 1814px #fff, 1327px 1286px #fff, 1448px 1934px #fff, 44px 77px #fff,
    1672px 65px #fff, 1732px 1870px #fff, 94px 1430px #fff, 239px 288px #fff,
    187px 1841px #fff, 1498px 653px #fff;
}

.stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 47px 1318px #fff, 293px 215px #fff, 1988px 575px #fff,
    1601px 1456px #fff, 315px 1315px #fff, 1859px 1565px #fff, 1346px 929px #fff,
    1651px 809px #fff, 1346px 487px #fff, 823px 777px #fff, 682px 1706px #fff,
    1497px 1488px #fff, 1959px 1128px #fff, 409px 1167px #fff, 1438px 304px #fff,
    249px 812px #fff, 1384px 1455px #fff, 347px 81px #fff, 1554px 193px #fff,
    777px 1006px #fff, 231px 1048px #fff, 473px 592px #fff, 1805px 1868px #fff,
    272px 886px #fff, 1435px 225px #fff, 982px 1307px #fff, 852px 883px #fff,
    593px 531px #fff, 1202px 927px #fff, 1954px 7px #fff, 1305px 1105px #fff,
    1828px 422px #fff, 141px 986px #fff, 616px 232px #fff, 1111px 446px #fff,
    158px 75px #fff, 886px 1340px #fff, 1497px 1197px #fff, 1967px 246px #fff,
    134px 1229px #fff, 1013px 700px #fff, 1899px 820px #fff, 145px 1931px #fff,
    1496px 746px #fff, 584px 1451px #fff, 1815px 1305px #fff, 1897px 1332px #fff,
    146px 101px #fff, 471px 1007px #fff, 929px 496px #fff, 407px 1261px #fff,
    560px 1969px #fff, 1294px 1489px #fff, 878px 1458px #fff, 37px 284px #fff,
    112px 682px #fff, 1283px 624px #fff, 918px 470px #fff, 1232px 1506px #fff,
    613px 1086px #fff, 744px 365px #fff, 846px 1777px #fff, 1341px 1551px #fff,
    57px 585px #fff, 1254px 337px #fff, 1531px 1476px #fff, 571px 1411px #fff,
    486px 1121px #fff, 1760px 950px #fff, 354px 1352px #fff, 1925px 1163px #fff,
    388px 1030px #fff, 437px 1520px #fff, 1002px 1537px #fff, 1882px 1964px #fff,
    74px 119px #fff, 673px 45px #fff, 624px 745px #fff, 1171px 1798px #fff,
    525px 591px #fff, 1038px 1374px #fff, 1493px 100px #fff, 568px 906px #fff,
    937px 1339px #fff, 1683px 1690px #fff, 105px 1332px #fff, 611px 1395px #fff,
    119px 1549px #fff, 132px 1788px #fff, 1665px 126px #fff, 794px 790px #fff,
    1974px 229px #fff, 1584px 1297px #fff, 1721px 1420px #fff, 598px 1237px #fff,
    1746px 1629px #fff, 1986px 499px #fff, 1525px 1473px #fff,
    1022px 1996px #fff, 548px 474px #fff, 823px 869px #fff, 680px 1255px #fff,
    1531px 178px #fff, 1949px 1377px #fff, 1505px 69px #fff, 445px 188px #fff,
    380px 404px #fff, 1846px 1543px #fff, 1170px 744px #fff, 1209px 394px #fff,
    265px 730px #fff, 441px 1363px #fff, 433px 156px #fff, 1074px 1529px #fff,
    507px 1664px #fff, 1424px 1454px #fff, 1019px 197px #fff, 617px 1380px #fff,
    1506px 115px #fff, 1864px 390px #fff, 1490px 29px #fff, 1793px 24px #fff,
    763px 391px #fff, 155px 681px #fff, 260px 356px #fff, 257px 1974px #fff,
    952px 1033px #fff, 567px 1423px #fff, 319px 1731px #fff, 1241px 666px #fff,
    1735px 683px #fff, 1903px 1744px #fff, 1888px 1740px #fff, 1189px 112px #fff,
    1961px 1px #fff, 1658px 49px #fff, 1628px 200px #fff, 1191px 862px #fff,
    684px 1238px #fff, 861px 1985px #fff, 1820px 1923px #fff, 1511px 419px #fff,
    1980px 579px #fff, 1539px 100px #fff, 595px 222px #fff, 318px 1617px #fff,
    620px 418px #fff, 1452px 1715px #fff, 1862px 588px #fff, 1093px 1959px #fff,
    1099px 1136px #fff, 849px 1778px #fff, 1731px 1606px #fff,
    1763px 1648px #fff, 786px 1048px #fff, 333px 1866px #fff, 662px 59px #fff,
    1121px 909px #fff, 1377px 693px #fff, 1268px 681px #fff, 1748px 638px #fff,
    308px 1995px #fff, 446px 1373px #fff, 662px 1382px #fff, 211px 450px #fff,
    426px 1447px #fff, 1152px 555px #fff, 694px 649px #fff, 1523px 1356px #fff,
    1494px 1694px #fff, 322px 823px #fff, 1723px 1246px #fff, 517px 40px #fff,
    311px 808px #fff, 426px 340px #fff, 369px 1464px #fff, 773px 289px #fff,
    131px 329px #fff, 769px 1531px #fff, 36px 154px #fff, 364px 1378px #fff,
    627px 696px #fff, 1280px 836px #fff, 1172px 213px #fff, 1784px 678px #fff,
    1972px 965px #fff, 1795px 396px #fff, 1688px 1719px #fff, 95px 1183px #fff,
    724px 67px #fff, 387px 1343px #fff, 320px 510px #fff, 1967px 1134px #fff,
    699px 369px #fff, 1908px 96px #fff, 599px 1384px #fff, 1918px 420px #fff,
    211px 1348px #fff, 1711px 1895px #fff, 1569px 447px #fff;
  animation: animStar 100s linear infinite;
}
.stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 47px 1318px #fff, 293px 215px #fff, 1988px 575px #fff,
    1601px 1456px #fff, 315px 1315px #fff, 1859px 1565px #fff, 1346px 929px #fff,
    1651px 809px #fff, 1346px 487px #fff, 823px 777px #fff, 682px 1706px #fff,
    1497px 1488px #fff, 1959px 1128px #fff, 409px 1167px #fff, 1438px 304px #fff,
    249px 812px #fff, 1384px 1455px #fff, 347px 81px #fff, 1554px 193px #fff,
    777px 1006px #fff, 231px 1048px #fff, 473px 592px #fff, 1805px 1868px #fff,
    272px 886px #fff, 1435px 225px #fff, 982px 1307px #fff, 852px 883px #fff,
    593px 531px #fff, 1202px 927px #fff, 1954px 7px #fff, 1305px 1105px #fff,
    1828px 422px #fff, 141px 986px #fff, 616px 232px #fff, 1111px 446px #fff,
    158px 75px #fff, 886px 1340px #fff, 1497px 1197px #fff, 1967px 246px #fff,
    134px 1229px #fff, 1013px 700px #fff, 1899px 820px #fff, 145px 1931px #fff,
    1496px 746px #fff, 584px 1451px #fff, 1815px 1305px #fff, 1897px 1332px #fff,
    146px 101px #fff, 471px 1007px #fff, 929px 496px #fff, 407px 1261px #fff,
    560px 1969px #fff, 1294px 1489px #fff, 878px 1458px #fff, 37px 284px #fff,
    112px 682px #fff, 1283px 624px #fff, 918px 470px #fff, 1232px 1506px #fff,
    613px 1086px #fff, 744px 365px #fff, 846px 1777px #fff, 1341px 1551px #fff,
    57px 585px #fff, 1254px 337px #fff, 1531px 1476px #fff, 571px 1411px #fff,
    486px 1121px #fff, 1760px 950px #fff, 354px 1352px #fff, 1925px 1163px #fff,
    388px 1030px #fff, 437px 1520px #fff, 1002px 1537px #fff, 1882px 1964px #fff,
    74px 119px #fff, 673px 45px #fff, 624px 745px #fff, 1171px 1798px #fff,
    525px 591px #fff, 1038px 1374px #fff, 1493px 100px #fff, 568px 906px #fff,
    937px 1339px #fff, 1683px 1690px #fff, 105px 1332px #fff, 611px 1395px #fff,
    119px 1549px #fff, 132px 1788px #fff, 1665px 126px #fff, 794px 790px #fff,
    1974px 229px #fff, 1584px 1297px #fff, 1721px 1420px #fff, 598px 1237px #fff,
    1746px 1629px #fff, 1986px 499px #fff, 1525px 1473px #fff,
    1022px 1996px #fff, 548px 474px #fff, 823px 869px #fff, 680px 1255px #fff,
    1531px 178px #fff, 1949px 1377px #fff, 1505px 69px #fff, 445px 188px #fff,
    380px 404px #fff, 1846px 1543px #fff, 1170px 744px #fff, 1209px 394px #fff,
    265px 730px #fff, 441px 1363px #fff, 433px 156px #fff, 1074px 1529px #fff,
    507px 1664px #fff, 1424px 1454px #fff, 1019px 197px #fff, 617px 1380px #fff,
    1506px 115px #fff, 1864px 390px #fff, 1490px 29px #fff, 1793px 24px #fff,
    763px 391px #fff, 155px 681px #fff, 260px 356px #fff, 257px 1974px #fff,
    952px 1033px #fff, 567px 1423px #fff, 319px 1731px #fff, 1241px 666px #fff,
    1735px 683px #fff, 1903px 1744px #fff, 1888px 1740px #fff, 1189px 112px #fff,
    1961px 1px #fff, 1658px 49px #fff, 1628px 200px #fff, 1191px 862px #fff,
    684px 1238px #fff, 861px 1985px #fff, 1820px 1923px #fff, 1511px 419px #fff,
    1980px 579px #fff, 1539px 100px #fff, 595px 222px #fff, 318px 1617px #fff,
    620px 418px #fff, 1452px 1715px #fff, 1862px 588px #fff, 1093px 1959px #fff,
    1099px 1136px #fff, 849px 1778px #fff, 1731px 1606px #fff,
    1763px 1648px #fff, 786px 1048px #fff, 333px 1866px #fff, 662px 59px #fff,
    1121px 909px #fff, 1377px 693px #fff, 1268px 681px #fff, 1748px 638px #fff,
    308px 1995px #fff, 446px 1373px #fff, 662px 1382px #fff, 211px 450px #fff,
    426px 1447px #fff, 1152px 555px #fff, 694px 649px #fff, 1523px 1356px #fff,
    1494px 1694px #fff, 322px 823px #fff, 1723px 1246px #fff, 517px 40px #fff,
    311px 808px #fff, 426px 340px #fff, 369px 1464px #fff, 773px 289px #fff,
    131px 329px #fff, 769px 1531px #fff, 36px 154px #fff, 364px 1378px #fff,
    627px 696px #fff, 1280px 836px #fff, 1172px 213px #fff, 1784px 678px #fff,
    1972px 965px #fff, 1795px 396px #fff, 1688px 1719px #fff, 95px 1183px #fff,
    724px 67px #fff, 387px 1343px #fff, 320px 510px #fff, 1967px 1134px #fff,
    699px 369px #fff, 1908px 96px #fff, 599px 1384px #fff, 1918px 420px #fff,
    211px 1348px #fff, 1711px 1895px #fff, 1569px 447px #fff;
}

.stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 857px 1149px #fff, 545px 172px #fff, 33px 1240px #fff,
    1332px 1274px #fff, 848px 1843px #fff, 1823px 819px #fff, 1809px 683px #fff,
    1517px 265px #fff, 1355px 1293px #fff, 299px 923px #fff, 665px 1245px #fff,
    1665px 623px #fff, 1072px 54px #fff, 1125px 169px #fff, 1087px 1620px #fff,
    1916px 177px #fff, 1615px 536px #fff, 333px 1011px #fff, 594px 1230px #fff,
    1605px 1684px #fff, 1790px 1648px #fff, 824px 1189px #fff,
    1166px 1547px #fff, 1189px 827px #fff, 1402px 1206px #fff, 785px 972px #fff,
    218px 1177px #fff, 1046px 617px #fff, 1521px 667px #fff, 116px 681px #fff,
    247px 1522px #fff, 1726px 1320px #fff, 1075px 1454px #fff, 994px 1452px #fff,
    1119px 103px #fff, 980px 238px #fff, 1235px 559px #fff, 1880px 82px #fff,
    1452px 1251px #fff, 1135px 1255px #fff, 574px 1152px #fff, 776px 202px #fff,
    238px 1149px #fff, 777px 1158px #fff, 755px 25px #fff, 288px 1350px #fff,
    1300px 21px #fff, 1486px 870px #fff, 846px 327px #fff, 1913px 1477px #fff,
    1044px 639px #fff, 279px 886px #fff, 134px 705px #fff, 16px 1887px #fff,
    130px 78px #fff, 651px 1628px #fff, 1027px 1919px #fff, 1013px 1363px #fff,
    193px 689px #fff, 335px 1775px #fff, 1883px 111px #fff, 1697px 1857px #fff,
    1904px 239px #fff, 1997px 791px #fff, 1391px 993px #fff, 445px 1300px #fff,
    1835px 1995px #fff, 166px 1910px #fff, 1808px 1133px #fff, 420px 1353px #fff,
    219px 3px #fff, 1269px 448px #fff, 1543px 1910px #fff, 353px 1978px #fff,
    849px 1390px #fff, 1200px 1786px #fff, 1779px 355px #fff, 361px 1339px #fff,
    934px 806px #fff, 1046px 1106px #fff, 209px 1733px #fff, 662px 804px #fff,
    1828px 991px #fff, 1512px 965px #fff, 867px 278px #fff, 1794px 1203px #fff,
    540px 47px #fff, 1518px 77px #fff, 1239px 1244px #fff, 1519px 773px #fff,
    324px 1346px #fff, 1951px 1991px #fff, 303px 1700px #fff, 784px 392px #fff,
    1241px 346px #fff, 1219px 723px #fff, 1300px 1902px #fff, 859px 898px #fff,
    571px 1687px #fff, 1204px 1915px #fff;
  animation: animStar 150s linear infinite;
}
.stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 857px 1149px #fff, 545px 172px #fff, 33px 1240px #fff,
    1332px 1274px #fff, 848px 1843px #fff, 1823px 819px #fff, 1809px 683px #fff,
    1517px 265px #fff, 1355px 1293px #fff, 299px 923px #fff, 665px 1245px #fff,
    1665px 623px #fff, 1072px 54px #fff, 1125px 169px #fff, 1087px 1620px #fff,
    1916px 177px #fff, 1615px 536px #fff, 333px 1011px #fff, 594px 1230px #fff,
    1605px 1684px #fff, 1790px 1648px #fff, 824px 1189px #fff,
    1166px 1547px #fff, 1189px 827px #fff, 1402px 1206px #fff, 785px 972px #fff,
    218px 1177px #fff, 1046px 617px #fff, 1521px 667px #fff, 116px 681px #fff,
    247px 1522px #fff, 1726px 1320px #fff, 1075px 1454px #fff, 994px 1452px #fff,
    1119px 103px #fff, 980px 238px #fff, 1235px 559px #fff, 1880px 82px #fff,
    1452px 1251px #fff, 1135px 1255px #fff, 574px 1152px #fff, 776px 202px #fff,
    238px 1149px #fff, 777px 1158px #fff, 755px 25px #fff, 288px 1350px #fff,
    1300px 21px #fff, 1486px 870px #fff, 846px 327px #fff, 1913px 1477px #fff,
    1044px 639px #fff, 279px 886px #fff, 134px 705px #fff, 16px 1887px #fff,
    130px 78px #fff, 651px 1628px #fff, 1027px 1919px #fff, 1013px 1363px #fff,
    193px 689px #fff, 335px 1775px #fff, 1883px 111px #fff, 1697px 1857px #fff,
    1904px 239px #fff, 1997px 791px #fff, 1391px 993px #fff, 445px 1300px #fff,
    1835px 1995px #fff, 166px 1910px #fff, 1808px 1133px #fff, 420px 1353px #fff,
    219px 3px #fff, 1269px 448px #fff, 1543px 1910px #fff, 353px 1978px #fff,
    849px 1390px #fff, 1200px 1786px #fff, 1779px 355px #fff, 361px 1339px #fff,
    934px 806px #fff, 1046px 1106px #fff, 209px 1733px #fff, 662px 804px #fff,
    1828px 991px #fff, 1512px 965px #fff, 867px 278px #fff, 1794px 1203px #fff,
    540px 47px #fff, 1518px 77px #fff, 1239px 1244px #fff, 1519px 773px #fff,
    324px 1346px #fff, 1951px 1991px #fff, 303px 1700px #fff, 784px 392px #fff,
    1241px 346px #fff, 1219px 723px #fff, 1300px 1902px #fff, 859px 898px #fff,
    571px 1687px #fff, 1204px 1915px #fff;
}

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}
#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
